@model MovieStream.Models.Movie

<h1>@Model.Title</h1>

<img src="@Model.PosterUrl" width="200"/>

<p>@Model.Genere</p>
<p>@Model.ReleaseYear</p>
<p>@Model.Rating</p>
<p>@Model.Duration</p>
<p>@Model.Description</p>